@model IEnumerable<StockSystem.Models.Category>

@{
    ViewBag.Title = "Index";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { },new {@class=" d-inline-block" }) 
</p>
<div class="table-responsive">
    <table class="table table-hover table-striped " id="Datatable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CategoryId }, new { @class = " " })
                        @Html.ActionLink("Details", "Details", new { id = item.CategoryId }, new { @class = " " })
                        @*@Html.ActionLink("Delete", "Delete", new { id=item.CategoryId })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#Datatable').DataTable();
    });
</script>